.navbar-nav{
    margin-left: auto !important; 
}
.navbar{
    border-radius: 40px !important;
    box-shadow: 4px 4px 4px rgb(228, 169, 60);
}
.nav-item{
    margin:10px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}
.nav-item:hover{
    font-size: 20px;
}
.navbar-brand{
      font-family: futura;
      font-style: italic;
      font-size: 30px;
      font-weight: bold;
    color:#313131;
    animation:colorchange 3s infinite alternate;    
}
@keyframes colorchange {
    0% {
      
      color: orange
    }
    
    50% {
      
      color: #8e44ad;
    }
    
    100% {
      
      color:#e66465;
    }
  }